<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>All users</title>
</head>
<body>

<div th:each="user : ${users}">
  <p th:text="${user.getUsername() + ', ' + user.getEmail()}"></p>

  <!-- Ссылка для редактирования пользователя -->
  <a th:href="@{/users/edit(id=${user.getId()})}">Edit</a>

  <!-- Форма для удаления пользователя -->
  <form th:method="post" th:action="@{/users/delete(id=${user.getId()})}" style="display: inline;">
    <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this user?');"/>
  </form>

  <hr/>
</div>

<br/>
<a href="/users/new">Create new user</a>

</body>
</html>
